{% load static %}
{% static "images" as baseUrl %}
<div class="container-box">
    {% block news %}
    {% if messages %}
    <div class="log_data">
        <div>
            {% for message in messages %}
               <span>{{message}}</span> 
            {% endfor %}
        </div>
        <div>
            <button onclick="close_log()">&#x2715;</button>
        </div>
    </div>
    {% endif %}
    <div class="news">
        {% if posts %}
            {% for post in posts %}
                <a href="{% url 'news' post.sha %}">
                    <div class="news-item">
                        <div class="cover">
                            <img  style="width: 100%;height: 100%;"  src="{{ post.cover.url }}" alt="">
                        </div>
                        <div class="det">
                            <div class="title">
                                {{post.post_title}}
                            </div>
                            <div class="dcl">
                                <div class="date">
                                    {{post.post_date}}
                                </div>
                                <div class="comment">

                                </div>
                                <div class="like">

                                </div>
                            </div>
                            <div class="desc">
                                {{post.desc}}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
        <h1>No Posts Avalaible</h1>
        {% endif %}
    </div>
    
    {% endblock %}
</div>