{% extends 'blog/base.html' %}
{% load static %}
{% static "images" as baseUrl %}

{% block container-box %}
    <div class="container-box">
        <div class="news-upload">
            {% if user.is_authenticated %}
                {% if reg.admin %}
                <form method="POST" action="{% url 'editsubmit' post.sha %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="con">
                        <div class="head">
                            <h1>Edit News</h1>
                            <p>* Required Field</p>
                        </div>
                        <input type="hidden" name="id" value="{{post.id}}">
                        <div class="inp">
                            <span>*Category</span>
                            <span>
                                <select name="cate">
                                    <option value="news">News</option>
                                    <option value="sports">Sports</option>
                                    <option value="tech">Technology</option>
                                    <option value="business">Business</option>
                                    <option value="cinema">Cinema</option>
                                    <option value="health">Health</option>
                                </select>
                            </span>
                        </div>
                        <div class="inp">
                            <span>Location</span>
                            <span>
                                <input type="text" name="location" value="{{post.place}}" placeholder="Location">
                            </span>
                        </div>
                        <div class="inp">
                            <span>*Title</span>
                            <span>
                                <input type="text" name="title" placeholder="Title" value="{{post.post_title}}" required>
                            </span>
                        </div>
                        <div class="inp">
                            <span>Picture</span>
                            <span>
                                <input type="file" name="newsimage" accept="image/*" value="{{post.cover.url}}">
                            </span>
                        </div>
                        <div class="inp">
                            <span>*Description</span>
                            <span>
                                <textarea name="desc" cols="30" rows="10" placeholder="Description" style="white-space: pre-wrap;" required>{{post.desc}}</textarea>
                            </span>
                        </div>
                        <div class="sub">
                            <button>Submit</button>
                        </div>
                    </div>
                    </form>
                {% else %}
                    <h1>Unable to edit article</h1>
                {% endif %}
            {% else %}
                <h1>Please Login</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
<script>
    
</script>